db.jdbc-url=                # jdbc BBDD postgres
db.username=                # user BBDD postgres
db.password=                # pass BBDD postgres
db.hibernate.mode=          # none | validate | update | create | create-drop

auth.tokens.secret-key=     # secreto JWT - base64url >= 256 bits
auth.tokens.expiration=     # tiempo de expiración de tokens

cors.allowed.origin=        # frontend url
