db.jdbc-url=                # jdbc BBDD postgres
db.username=                # user BBDD postgres
db.password=                # pass BBDD postgres
db.hibernate.mode=          # none | validate | update | create | create-drop

auth.tokens.secret-key=     # secreto JWT - base64url >= 256 bits
auth.tokens.expiration=     # tiempo de expiración de tokens

cors.allowed.origin=        # frontend url

supabase.s3.endpoint=       # supabase storage S3 endpoint
supabase.s3.region=         # supabase storage S3 region
supabase.s3.access-key=     # supabase storage S3 access key
supabase.s3.secret-key=     # supabase storage S3 secret key
supabase.s3.bucket.img=     # supabase storage S3 images bucket