.stat-label-btn {
  border: 1.5px solid var(--brand-color) !important;
  color: var(--brand-color) !important;
  background-color: transparent !important;
  padding: 10px 25px;
  transition: box-shadow, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  animation: statlbl-fade 1s ease;
}

.stat-label-btn:hover {
  box-shadow: 0 0 12px -4px var(--brand-color);
  transform: scale(1.02);
}

/* Efecto para el contador de experiencias en Home */
.dot-online {
  height: 8px;
  width: 8px;
  background-color: #28a745; /* Verde éxito */
  border-radius: 50%;
  display: inline-block;
  animation: pulse-green 2s infinite;
}

@keyframes statlbl-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(40, 167, 69, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
  }
}